form action="/albums/new" method="post"
  input type="text" name="title" placeholder="album title"
  input type="text" name="artist_id" placeholder="id for artist"
  input type="submit" value="Create album!"